<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>fit</title>
    <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <link href="/css/style.less" rel="stylesheet" type="text/css">
    
    <script src="/js/mod.js"></script>
     <script src="/js/react.js"></script>
    <script src="/js/jquery.js"></script>
    <script src="/js/underscore.js"></script>

    <!-- STYLE_AUTOLOAD -->

    <!-- MAP_AUTOLOAD -->
</head>

<body>
<div id="__runtime__">
<%=name%>
</div>
<div id="feedback"></div>
<!-- SCIRPT_AUTOLOAD -->
<script type="text/javascript">
     require("/js/app.jsx");
</script>
</body>
<body>
